*{
    box-sizing: border-box;
}
body{
    font-family: 'aileron', sans-serif; 
    background-color: #38b6ff;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
h1#white{
    color: white;
}
h1#yellow{
    color:#ffeda4;
}
#navbar{
    background-color: #38b6ff;
    height: 110px;
}

#button{
    padding-top:0.65em;
    position: relative;
    background-color:#ffeda4 ;
    height: 90px;
    width: 280px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    color:#38b6ff;
    font-weight: bolder;
    font-size:2.3em;
}
#button:hover{
    background-color:#5ce1e6;
    cursor: pointer;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration:none;
}
#button-text{
    position:absolute;
    height: 90px;
    width: 280px;
    border-radius: 20px;
    bottom: -10px;
    padding-top: 20px;
}
#button-text:hover{
    color:white;
    background-color: #5ce1e6;
}
#form{
    width:90%;
    background-color:#ffeda4;
    margin:50px auto 0px auto;
    padding:50px 50px 50px 50px;
}
#decoration-image-container{
    bottom:0;
    float: right;
    overflow:hidden;
    width:300px;
    height:275px;
}
#class-image{
    margin-top:50px;
    margin-bottom:50px;
}
#nav-button{
    margin-top:20px;
}
#arrow{
    background-color: #5ce1e6;
    color: #ffeda4;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 30px;
    padding-left: 8px;
    padding-top: 5px;
}
#custombreadcrumb{
    position: relative;
}
#breadcrumb-class{
    text-align: center;
    background-color: #5ce1e6;
    color: white;
    font-size: 23px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 160px;
    border-radius: 10px;
    padding-top: 8px;
    font-weight: 600;
}
#breadcrumb-text{
    font-size: 30px;
    color: #ffeda4;
    font-weight: bold;
    margin-top: 10px;
}
#breadcrumb-text2{
    font-size: 35px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}